@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Code Pro", monospace;
}

:root {
  --primary: black;
  --secondary: red;
  --white: white;
  --btn-padding: 10px 15px; 
  --btn-border-radius: 5px; 
  --btn-font-size: 16px; 
}

